<div style="position: relative;">
    <div
        style="text-align:center;background: linear-gradient(to right, #f7971e, #ffd200);padding-top:100px;padding-bottom:150px
        ;width:100%;">
    </div>
    <div style="width: 100%;position:relative;">
        <div class="card" style="width: 450px;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)">
            <div style="padding:15px;text-align:center;">
                <h1 style="color: #FFF;">Pago Pendiente</h1>

                <a href="/">Regresar a Inicio</a>

            </div>
        </div>
    </div>
</div>